<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find jetbot_dqn)/worlds/actor.world"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="verbose" value="true"/>
    </include>

    <include file="$(find jetbot_dqn)/launch/spawn.launch"/>

    <!-- <node pkg="jetbot_dqn" type="detect.py" name="detect" output="screen" /> -->
</launch>